@model string


<h1 class="alert alert-info">Please Confirm Your Email</h1>

<div >
    <a class="btn btn-primary" asp-action="SendConfirmationMessageAgain" asp-route-UserId="@Model">Send Confirmation Message Again</a>
</div>




