
<form asp-action="ForgotPassword">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="col-4">
        <strong class="control-label">Please Choose Verification Method</strong> 
        <div class="form-group mt-2">
            <input type="radio" class="form-check-input" value="email" name="verificationMethod" id="email"/>
            <label for="email" class="form-check-label">Verify Using Email</label>
        </div>
        <div  class="form-group mt-2">
            <input type="radio" class="form-check-input" value="phoneNumber" name="verificationMethod" id="phoneNumber" />
            <label for="phoneNumber" class="form-check-label">Verify Using Phone Number</label>
        </div>
    <div class="form-group mt-3">
        <strong class="control-label">Please Enter your Email</strong>
        <input type="email" name="email" class="form-control" />
    </div>
    <div class="form-group mt-2">
        <input type="submit" value="Continue" class="btn btn-primary" />
    </div>
    </div>
</form>

@section scripts{
	<partial name="_ValidationScriptsPartial" />
}


